@import 'variables.scss';
@import 'mixin.scss';

.footer {
    background-color: $bg-footer-color;
    &__content {
        @include flex-cl-center;
        gap: 35px;
        padding: 70px 0; 
    }

    &__head {
        @include flex-cl-center;
        gap: 22px;
    }

    &__title {
        color: $footer-title-color;
    }

    &__text {
        color: $footer-text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        max-width: 684px;
    }

    &__social-links {
        display: flex;
        gap: 5px;
    }

    &__information {
        text-align: center;
    }

    @media only screen and (max-width: 767px) {
        &__text {
            font-size: 12px;
        }
        &__information {
            font-size: 14px;
        }
    }
}