@import 'variables.scss';
@import 'mixin.scss';

.nav {  
    &__burger {
        display: none;
    }

    &__list {
        @include flex-sb;
        padding: 45px 178px 51px 178px;

        &_link {
            font-size: 11px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 1.1px;
            &.active {
                color: $active-nav-color;
            }
        }
        &_link:hover {
            color: $active-nav-color;
        }
    }


    
    @media only screen and (max-width: 1199px) {
        &__list {
            padding: 38px 80px 45px 80px;
        }
    }

    @media only screen and (max-width: 767px) {
        &__body {
            display: block;
            float: right;
            width: 183px;
            padding: 23px 0;
        }
        
        &__burger {
            display: block;
            position: relative;
            left: 139px;
            background-color: #000000;
            width: 44px;
            height: 37px;
            span {
                position: absolute;
                background-color: #fff;
                width: 17px;
                height: 2px;
                top: 17px;
                left: 13px;
                transition: 0.3s ease 0s;
            }
        }

        &__burger::before, 
        &__burger::after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 17px;
            height: 2px;
            top: 13px;
            left: 13px;
            transition: 0.3s ease 0s;
        }

        &__burger::before {
            top: 21px;
        }

        &__burger.active::before {
            transform: rotate(45deg);
            top: 17px;
        }

        &__burger.active::after {
            transform: rotate(-45deg);
            top: 17px;
        }

        &__burger.active span {
            transform: scale(0);
        }
        
        &__list {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            padding: 0;

            li {
                background-color: #F5F5F5;
                padding: 4px 0 4px 13px;
            }

            li:hover {
                background-color: #E5E5E5;
            }

            li:nth-child(1) {
                padding-right: 134px;
            }
            li:nth-child(2) {
                padding-right: 110px;
            }
            li:nth-child(3) {
                padding-right: 86px;
            }
            li:nth-child(4) {
                padding-right: 109px;
            }
            li:nth-child(5) {
                padding-right: 136px;
            }
            li:nth-child(6) {
                padding-right: 110px;
            }
            li:nth-child(7) {
                padding-right: 114px;
            }
        }

        &__list.active {
            display: block;
        }
    }
}