@import 'variables.scss';
@import 'mixin.scss';

.instagram {
    background-color: $bg-section-color;
    padding: 50px 0;
    &__head {
        @include flex-sb;
    }

    &__link {
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
    }

    &__body {
        @include flex-sb;
        gap: 10px;
        padding-top: 24px;
    }

    @media only screen and (max-width: 1199px) {
        img {
            max-width: 240px;
        }
        &__post4 {
            display: none;
        }
    }

    @media only screen and (max-width: 767px) {
        &__body {
            img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
        &__post3 {
            display: none;
        }
        &__post2 {
            display: none;
        }
        &__link {
            display: none;
        }
    }
}

