@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'header.scss';
@import 'posts.scss';
@import 'instagram.scss';
@import 'footer.scss';


body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background-color: $bg-color;

    a {
        color: $title-color;
        text-decoration: none;
    }

    p {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
    }

    h1 {
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }

    h2 {
        color: $title-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
    }

    h3 {
        color: $subtitle-color;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
    
    @media only screen and (max-width: 1199px) {
        .container {
            padding: 0 15px;
        }
        
        img {
            max-width: 100%;
        }
    }

    @media only screen and (max-width: 767px) {
        p {
            font-size: 11px;
        }
        h1 {
            font-size: 14px;
        }
    }
}