@import 'variables.scss';
@import 'mixin.scss';

.posts {
    &__title {
        padding-top: 66px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px 55px;
        padding: 24px 0px 70px 0px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        gap: 20px;

        &_text {
            padding-top: 13px;
        }
    }
    
    @media only screen and (max-width: 1199px) {
        &__list {
            grid-template-columns: 1fr;
        }
        &__card {
            &_text {
                max-width: 400px;
            }
        }
    }
    
    @media only screen and (max-width: 767px) {
        &__card {
            flex-direction: column;
            &_text {
                display: none;
            }

            img {
                max-width: 160px;
            }
        }
    }
}