$text-color: #5C5C5C;
$footer-text-color: #B9B9B9;
$title-color: #4E4E4E;
$footer-title-color: #FEFEFE;
$subtitle-color: #7C7C7C;
$active-nav-color: #57A4A4;
$bg-color: #FFFFFF;
$bg-footer-color: #000000;
$bg-section-color: #F7F7F7;